

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* yellow #ffc222 */


.wordDiv{
  padding:50px;
  margin: 20px;
  display: flex;
  background-color: white;

}

.head{
  color:#ffc222;
}

.wordDescription{
  color: #999;
}

.buttonDiv{
  display:flex;
}

.wordBtn{
  border-radius: 3em;
  padding: 1em;
}

.wordBtnSolid, .wordBtnOutline:hover {
  background-color: var(--color-yellow);
  border: 2px solid var(--light);
  color: var(--white);
}

.wordBtnSolid:hover, .wordBtnOutline {
  background-color: var(--white);
  border: 2px solid var(--color-yellow);
  color: var(--color-yellow);
}



.connectionDiv{
  padding:50px;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url('./static/map.png');
}

.connect-head-div{
  width: 100%;
  color: #ffc222;
  display: flex;
  justify-content: center;
}

.connect-title-div{
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
}

.connectBtn{
  margin-right: 50px;
  background-color:#42C3D3;
  border-style: solid;
  border-color: #42C3D3;
  color: white;
  border-radius: 50px;
  padding:10px;
  padding-left: 30px;
  padding-right: 30px;
}

.connectBtn:hover{
  margin-right: 50px;
  background-color:white;
  border-style: solid;
  border-color: #42C3D3;
  color: #42C3D3;
  border-radius: 50px;
  padding:10px;
  padding-left: 30px;
  padding-right: 30px;
}

/* blue #42C3D3 */

.counterDiv{
  color: white;
  display: flex;
  justify-content: center;
}

.data-div{
  width: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px;
  text-align: center;
}

.btnDiv{
  display: flex;
  justify-content: center;
  width: 100%;
}