@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --color-black: #A0A6B2;
  --color-yellow: #FFC222;
  --color-blue-green: #42C3D3;
}

body {
  margin: 0;
  /* font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  font-family: 'Ubuntu', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body a,
body a:hover {
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.icon {
  color: var(--color-blue-green);
}
/* NOTE: Custom Navbar styles */
nav {
  font-size: 0.8rem;
}
nav .logo {
  display: block;
  width: 100px;
}
nav.custom-navbar {
  background-color: var(--white);
}
nav .navbar-nav a,
nav .navbar-nav a:link,
nav .navbar-nav a:visited {
  color: var(--color-black);
}
nav .navbar-nav a:hover {
  color: var(--color-blue-green);
}

/* NOTE: Custom Footer styles */
#footer {
  background-color: var(--color-blue-green);
}
#footer a,
#footer a:link,
#footer a:visited {
  color: var(--white);
  text-decoration: none;
}
#footer a:hover {
  color: var(--color-yellow);
  text-decoration: none;
}

/* NOTE: Media Query */
@media only screen and (max-width: 414px) {
  nav .list-inline-item {
    display: block;
  }
}
