@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');

:root {
  --color-off-white: #f4f6fb;
  --color-black: #A0A6B2;
  --color-med-blue: #6A8AA6;
  /* --color-med-blue: #FFC222; */
  --color-blue-green: #42C3D3;
  --color-red: #D12764;
}

/* NOTE: Element Tag Styles */
body {
  background-color: var(--color-off-white) !important;
  margin: 0;
  /* font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  font-family: 'Ubuntu', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body a,
body a:hover {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .icon {
  color: var(--color-blue-green);
} */

.intro-lead {
  color: var(--color-med-blue);
  text-transform: uppercase;
  font-size: .8rem;
}
.social-media a {
  color: var(--color-med-blue);
}

.btnSolid {
  background-color: var(--color-med-blue);
  color: var(--white);
}

/* Navbar Styles */
nav.navbar {
  background-color: var(--white);
}

/* NOTE: Custom Navbar styles */
nav {
  font-size: 1rem;
}
nav .logo {
  display: block;
  width: 10rem;
}
nav.custom-navbar {
  background-color: var(--white);
}
nav.custom-navbar .list-inline-item:not(:last-child) {
  margin-right: 2rem;
}
nav .navbar-nav {
  position: relative;
}
nav .navbar-nav a,
nav .navbar-nav a:link,
nav .navbar-nav a:visited {
  color: var(--color-black);
}
nav .navbar-nav a:hover {
  color: var(--color-blue-green);
}
nav .navbar-nav .social-media a {
  color: var(--color-med-blue);
}
nav .navbar-nav .login {
  position: absolute;
  right: 0;
  top: 0;
}
.login-modal,
nav .navbar-nav .login .close {
  cursor: pointer;
}

/* NOTE: Card Styles */
/* .heroStyles .organizationList .organizationList-col:nth-of-type(1n+4) {
  display: none !important;
} */
.heroOrganizationSlider .slick-arrow {
  z-index: 999;
  width: auto;
  height: auto;
}
.heroOrganizationSlider .slick-prev {
  left: -10px;
}
.heroOrganizationSlider .slick-next {
  right: -10px;
}
.heroOrganizationSlider .slick-arrow:before {
  color: var(--dark);
  font-size: xx-large;
}
.learnmore,
.learnmore:link,
.learnmore:visited,
.learnmore:hover {
  color: var(--color-red) !important;
  font-weight: 700;
}

.how-it-works {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 1);
  background-image: url('./static/home/connecting-youth.jpg');
}
.how-it-works .how-it-works-body {
  background-color: rgba(255, 255, 255, .85);
}

.impacting-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr ) ;
  grid-template-rows: repeat(2,  30ch ) ;
  grid-gap: 1em;
}
/* NOTE: Media Query */
@media only screen and (max-width: 768px) {
  .impacting-wrapper {
    grid-template-columns: repeat(2, 1fr ) ;
  }
  nav.custom-navbar {
    position: relative;
  }
}
@media only screen and (max-width: 414px) {
  .impacting-wrapper {
    grid-template-columns: repeat(1, 1fr ) ;
  }
}

.impacting-program {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em;
  margin-bottom: 1em;
}
.impacting-program span {
  display: block;
}

.impacting-program:nth-child(1) {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.5)
    ), url('./static/home/male-on-steps.jpg');
}
.impacting-program:nth-child(2) {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.5)
    ), url('./static/home/crowd-of-protesters.jpg');
}
.impacting-program:nth-child(3) {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.5)
    ), url('./static/home/kids-infont-computer.jpg');
}
.impacting-program:nth-child(4) {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.5)
    ), url('./static/home/muslim-female-freelancer.jpg');
}
.impacting-program:nth-child(5) {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.5)
    ), url('./static/home/two-woman-exercise.jpg');
}
.impacting-program:nth-child(6) {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.5)
    ), url('./static/home/male-with-smartphone.jpg');
}

.card .card-footer.social-media {
  font-size: 1.55rem;
}

/* text-left d-flex justify-content-between align-items-center */
.searchbar-wrapper button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
}
.searchbar-wrapper .dropdown-menu {
  width: 100%;
}
.searchbar-wrapper .dropdown-menu.show {
  max-height: 200px;
  overflow: auto;
  z-index: 9999;
}

/* NOTE: Contact Us */
.contact-us {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(0, 0, 0, 0.73)
    ), url('./static/contact-us.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.wordBtn {
  /* border-radius: 10%; */
  padding: .5em 1em;
  margin-right: .5em;
  font-size: .8em;
}

.wordBtnSolid, .wordBtnOutline:hover {
  background-color: var(--color-med-blue);
  border: 2px solid var(--light);
  color: var(--white);
}

.wordBtnSolid:hover, .wordBtnOutline {
  background-color: var(--white);
  border: 2px solid var(--color-med-blue);
  color: var(--color-med-blue);
}

/* NOTE: Custom Footer styles */
#footer {
  background-color: var(--color-blue-green);
}
#footer a,
#footer a:link,
#footer a:visited {
  color: var(--white);
  text-decoration: none;
}
#footer a:hover {
  color: var(--color-med-blue);
  text-decoration: none;
}

/* NOTE: Media Query */
@media only screen and (max-width: 414px) {
  nav .list-inline-item {
    display: block;
  }
}
